<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabdriver Information</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <span class="bold">E</span>-Gate
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/student">Students</a></li>
                <li><a href="/visitor">Visitor</a></li>
                <li><a href="/cabdriver">Cab Driver</a></li>
                <li><a href="/guard">Guard</a></li>
            </ul>
            <div class="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h1>Information for CabDriver</h1>
            <p id="aboutp">Welcome to IIT Gandhinagar! To ensure a smooth entry process, please visit Gate 1 upon arrival, where a security guard will verify your personal details and cab information. After verification, the guard will generate a QR code for you. You can use this QR code to enter IIT Gandhinagar through Gate 1 on any subsequent day. Please note that you only need to generate the QR code once. Keep it safe and readily accessible for future visits. Thank you for your cooperation. </p>
            
        </section>
    </main>
    <script src="js/index.js"></script>
</body>
</html>
